@using subreddit.Models
@model ViewPost

@section metatags {
    <meta property="og:title" content="@Model.Post.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Model.Post.Content.Substring(0, Math.Min(Model.Post.Content.Length, 100))" />
}

<div class="text-center">
    <h1 class="display-4">Viewing post</h1>
</div>

<h1>
    @Model.Post.Score 
    -
    @Model.Post.Title
</h1>
<h5>
    by
    <strong>
        @Model.Post.Author
    </strong>

    at

    <strong>
        @Model.Post.PostedAt.ToString("u")
        UTC
    </strong>
</h5>

<span style="white-space: pre-line">@Model.Post.Content</span>

<hr class="border" />

<h3>
    Comments
    (@(Model.Comments.Count() - 1)) @* minus one to ignore the root node which contains nothing *@
</h3>

@* don't use the root node, as it contains nothing, instead render each child *@
@foreach (CommentTree tree in Model.Comments.GetChildren()) {
    <partial name="_Comment" model=tree />
}

